/* Navbar.css

.logo-img {
    height: 50px;
    margin: 0 10px; 
  }
  
  .carrito-img {
    height: 30px; 
    margin-right: 10px; 
  }
  
  .navbar-nav {
    margin-left: auto;
  }
  
  .nav-link {
    margin-right: 10px;
  }
  */